<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
rel="stylesheet">

    <title>Portfolio</title>
</head>

<body>
    <div class="frame" >
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-user_img">
                        <img 
                        src="images/profile.jpg" 
                        width="156px" 
                        height="142px" 
                        alt="portfolio image" />
                    </div>
                    <div class="left_1-user_name"><%=user.name%></div>
                    <div class="left_1-user_prof"><%=user.profession%></div>
                    <div class="left_1-icons">
                        <a  class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-1.svg" class="icon-1" alt="icon" />
                            </div>
                        </a>
                        <a  class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-2.svg" class="icon-1" alt="icon" />
                            </div>
                        </a>
                        <a  class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-3.svg" class="icon-1" alt="icon" />
                            </div>
                        </a>
                        <a  class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-4.svg" class="icon-1" alt="icon" />
                            </div>
                        </a>
                        <a  class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-5.svg" class="icon-1" alt="icon" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer">
                    
                </div>
                <div class="left_2">
                    <div class="user_info">
                        <div class="user_info-key">Age</div>
                        <div class="user_info-value"><%=user.age%></div>
                    </div>
                    <div class="user_info">
                        <div class="user_info-key">Residence</div>
                        <div class="user_info-value"><%=user.residence%></div>
                    </div>
                    <div class="user_info">
                        <div class="user_info-key">Freelance</div>
                        <div class="user_info-value" style="color: #7EB942 ;">Available</div>
                    </div>
                    <div class="user_info">
                        <div class="user_info-key">Address</div>
                        <div class="user_info-value"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="title">Languages</div>

                    <div class="lang_container">
                      <div class="lang_txt">Uzbek</div>
                      <div class="lang_txt">100%</div>
                    </div>
                    <div class="percantge_bar_container">
                      <div class="percantge_bar"></div>
                    </div>
        
                    <div class="lang_container">
                      <div class="lang_txt">Korean</div>
                      <div class="lang_txt">80%</div>
                    </div>
                    <div class="percantge_bar_container">
                      <div class="percantge_bar_2"></div>
                    </div>
        
                    <div class="lang_container">
                      <div class="lang_txt">English</div>
                      <div class="lang_txt">50%</div>
                    </div>
                    <div class="percantge_bar_container">
                      <div class="percantge_bar_3"></div>
                    </div> 
                </div>
                <div class="marginer"></div>
                <div class="left_4">

                    <div class="title">Skills</div>

                    <div class="lang_container">
                      <div class="lang_txt">HTML</div>
                      <div class="lang_txt">90%</div>
                    </div>
                    <div class="percantge_bar_container">
                      <div class="percantge_bar_4"></div>
                    </div>
        
                    <div class="lang_container">
                      <div class="lang_txt">CSS</div>
                      <div class="lang_txt">85%</div>
                    </div>
                    <div class="percantge_bar_container">
                      <div class="percantge_bar_5"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">JS</div>
                        <div class="lang_txt">80%</div>
                    </div>
                    <div class="percantge_bar_container">
                        <div class="percantge_bar_6"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">NodeJs</div>
                        <div class="lang_txt">75%</div>
                    </div>
                    <div class="percantge_bar_container">
                        <div class="percantge_bar_7"></div>
                    </div>
                    <div class="lang_container">
                        <div class="lang_txt">Python</div>
                        <div class="lang_txt">70%</div>
                    </div>
                    <div class="percantge_bar_container">
                        <div class="percantge_bar_8"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="title">Extra Skills</div>
                    <div class="extra_skill_container">
                        <img src="icon/Icons.png" alt="" height="15px" width="15px" />
                        <div class="skill_txt">Bootstrap, Materialize</div>
                    </div>
                    <div class="extra_skill_container">
                        <img src="icon/Icons.png" alt="" height="15px" width="15px" />
                        <div class="skill_txt">Sass,Styling</div>
                    </div>
                    <div class="extra_skill_container">
                        <img src="icon/Icons.png" alt="" height="15px" width="15px" />
                        <div class="skill_txt">Django, Flask</div>
                    </div>
                    <div class="extra_skill_container">
                        <img src="icon/Icons.png" alt="" height="15px" width="15px" />
                        <div class="skill_txt">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="download-btn">
                    <div class="text">DOWNLOAD CV</div>
                    <div class="cv_icon"><img src="images/ins_icon.svg" alt=""></div>
                </div>
                </div>


            <div class="mid_frame">
                <div class="mid_frame-top">
                    <div class="left-bar">
                        <div class="greeting">I’m <%=user.name %> <br />
                         <span style="color: #FFB400;">Software </span> Engineer </div> 
                         <div class="introduction"><%=user.about_me %></div>
                         <div class="hire-me-btn">
                             <div class="hire_me">HIRE ME </div>
                             <a  class="link_href" href="">
                                 <div class="icon">
                                     <img src="btn_icon/right_arrow.svg" class="icon-1" alt="icon" />
                                 </div>
                             </a>
                         </div>
                     </div>
                     <div class="right-bar">
                        <img src="images/body_img.png" alt="">
                     </div>
                     <div class="style-bar">
                        <div class="shape-1"><img src="style_icon/Ellipse-12.svg" alt=""></div>
                        <div class="shape-2"><img src="style_icon/Rectangle-51.svg" alt=""></div>
                        <div class="shape-3"><img src="style_icon/Ellipse-16.svg" alt=""></div>
                        <div class="shape-4"><img src="style_icon/Rectangle-52.svg" alt=""></div>
                        <div class="shape-5"><img src="style_icon/Polygon-1.svg" alt=""></div>
                        <div class="shape-6"><img src="style_icon/Ellipse-15.svg" alt=""></div>
                        <div class="shape-7"><img src="style_icon/Ellipse-13.svg" alt=""></div>
                     </div>
                </div>
                <div class="mid_frame-mid">
                    <div class="title"> My Services</div>
                    <div class="text"><%=user.service_desc %></div>
                </div>
                <div class="mid_frame-bottom">
                    <div class="box">
                        <div class="box-up"><img src="box_images/coding.svg" alt=""></div>
                        <div class="box-mid">Web Development</div>
                        <div class="box-down">Blog E-Commerce</div>
                    </div>
                    <div class="box">
                        <div class="box-up"><img src="box_images/illustration.svg" alt=""></div>
                        <div class="box-mid">UI/UX Design</div>
                        <div class="box-down">Mobile App, Website Design</div>
                    </div>
                    <div class="box">
                        <div class="box-up"><img src="box_images/Microphone.svg" alt=""></div>
                        <div class="box-mid">sound design</div>
                        <div class="box-down">Voice Over, Beat Making</div>
                    </div>
                    <div class="box">
                        <div class="box-up"><img src="box_images/game-development.svg" alt=""></div>
                        <div class="box-mid">Game Design</div>
                        <div class="box-down">Character Design, Props & Objects</div>
                    </div>
                    <div class="box">
                        <div class="box-up"><img src="box_images/Photographer.svg" alt=""></div>
                        <div class="box-mid">photography</div>
                        <div class="box-down">portrait, product photography</div>
                    </div>
                    <div class="box">
                        <div class="box-mid">advertising</div>
                        <div class="box-down" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                        <div class="box-down-btn"> ORDER NOW ></div>
                    </div>
                </div>
            </div>
            <div class="right_frame">
                <div class="contrast_mode">
                    <img src="menu_icon/Contrast.svg" alt="">
                </div>
                <div class="home-con">
                    <div><img src="images/Rectangle.png" alt=""></div>
                    <div class="text">Home</div>
                </div>
                <div class="home">
                    <img src="menu_icon/Home.svg" alt="" srcset="">
                </div>
                <div class="right_frame-bottom"> 
                        <div class="icon">
                            <img src="menu_icon/file-code.svg" class="icon-1" alt="icon" />
                        </div>
                        <div class="icon">
                            <img src="menu_icon/cv.svg" class="icon-1" alt="icon" />
                        </div>
                        <div class="icon">
                            <img src="menu_icon/Portfolio.svg" class="icon-1" alt="icon" />
                        </div>
                        <div class="icon">
                            <img src="menu_icon/Blog.svg" class="icon-1" alt="icon" />
                        </div>
                        <div class="icon">
                            <img src="menu_icon/Contact.svg" class="icon-1" alt="icon" />
                        </div>
            </div>
            </div>
        </div>
    </div>
</body>

</html>